.text__word {
  display: inline-block;
  margin-right: 0.2em;
  white-space: nowrap;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }

  span {
    display: inline-block;
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}

