@keyframes social {
  from {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  85% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.social-block {
  position: relative;

  &:hover,
  &:focus,
  &:active {
    .social-block__list {
      opacity: 1;
      pointer-events: auto;
    }

    .social-block__link {
      opacity: 1;
      transform: translateY(0);

      &--insta {
        transition-delay: 0.1s;
      }

      &--vk {
        transition-delay: 0.2s;
      }
    }
  }
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  border-radius: 50%;
  transition: all 0.3s;


  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $c-light;
    border: 2px solid $c-light;
    z-index: -1;
    transform-origin: center;
    animation: social 0.8s cubic-bezier(0, 0.93, 1, 0.8);
    transition: all 0.2s;
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
  }

  &:hover,
  .social-block--active & {
    color: $c-purple;


    &::before {
      width: 112.5%;
      height: 112.5%;
      top: -6%;
      left: -6%;
    }
  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      border-color: $c-purple;
    }

    & + .social-block__list {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:focus {
    .social-block & {

      opacity: 1;
    }

    + .social-block__list {
      .social-block__link {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1.5rem;

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }

  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }

  .social-block--active & {
    opacity: 1;
    pointer-events: auto;
  }

  li {
    flex: none;
    margin-bottom: 0.5rem;

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: color 0.3s, opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(5px);



  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: $c-dark;
  }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-purple;
    outline: none;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-light;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.slide1-active {
  .social-block__toggler {
    color: #a17ee6;

    &:hover,
    &.social-block--active,
    &:focus,
    &:active {
      color: #c6aafd;
    }

    &:active {
      color: #fff;

      &::before, :focus::before {
        background-color: #c6aafd;
        border-color: #c6aafd;
      }
    }

    &:focus::before {
      border-color: #c6aafd;
    }
  }

  .page-header__menu a {
    &:hover, &:focus {

      color: #c6aafd;
      &::after {
        background-color: #c6aafd;
      }
    }
  }

  .social-block__link:hover {
    color: #c6aafd;
  }

  .slider__control {
    color: #a17ee6;

    &:active::before {
      background-color: #a17ee6;
      border-color: #a17ee6;
    }

    &:focus::before {
      border-color: #c6aafd;
    }
  }
}

.slide2-active {
  .social-block__toggler {
    color: #4c77e7;

    &:hover,
    &.social-block--active,
    &:focus,
    &:active {
      color: #749bff;
    }

    &:active {
      color: #fff;

      &::before, :focus::before {
        background-color: #749bff;
        border-color: #749bff;
      }
    }

    &:focus::before {
      border-color: #749bff;
    }
  }

  .page-header__menu a {
    &:hover, &:focus {
      color: #749bff;
      &::after {
        background-color: #749bff;
      }
    }
  }

  .social-block__link:hover {
    color: #749bff;
  }

  .slider__control {
    color: #4c77e7;

    &:active::before {
      background-color: #4c77e7;
      border-color: #4c77e7;
    }

    &:focus::before {
      border-color: #4c77e7;
    }
  }
}

.slide3-active {
  .social-block__toggler {
    color: #9ec4eb;

    &:hover,
    &.social-block--active,
    &:focus,
    &:active {
      color: #cfe6fd;
    }

    &:active {
      color: #fff;

      &::before, :focus::before {
        background-color: #cfe6fd;
        border-color: #cfe6fd;
      }
    }

    &:focus::before {
      border-color: #cfe6fd;
    }
  }

  .page-header__menu a {
    &:hover, &:focus {
      color: #cfe6fd;
      &::after {
        background-color: #cfe6fd;
      }
    }
  }

  .social-block__link:hover {
    color: #cfe6fd;
  }

  .slider__control {
    color: #9ec4eb;

    &:active::before {
      background-color: #9ec4eb;
      border-color: #9ec4eb;
    }

    &:focus::before {
      border-color: #9ec4eb;
    }
  }
}

.slide4-active {

  .social-block__toggler {
    color: #5a4c7d;

    &:hover,
    &.social-block--active,
    &:focus,
    &:active {
      color: #8275a4;
    }

    &:active {
      color: #fff;

      &::before, :focus::before {
        background-color: #8275a4;
        border-color: #8275a4;
      }
    }

    &:focus::before {
      border-color: #8275a4;
    }
  }

  .page-header__menu a {
    &:hover, &:focus {
      color: #8275a4;
      &::after {
        background-color: #8275a4;
      }
    }
  }

  .social-block__link:hover {
    color: #8275a4;
  }

  .slider__control {
    color: #5a4c7d;

    &:active::before {
      background-color: #5a4c7d;
      border-color: #5a4c7d;
    }

    &:focus::before {
      border-color: #8275a4;
    }
  }
}
